.container1 {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    padding-top: 30px;
    justify-content: center;
    overflow: hidden;
}

.leg {
    display: flex;
    justify-content: flex-end;
    align-items: column;
    padding-top: 100px;
    position: relative;
}
.leg-image {
    position: absolute;
}

.container2 {
    display: flex;
    gap: 50px;
    padding: 0px 50px;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-color: blue;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 20px;
    height: 400px;
    flex-grow: 1;
}

.title {
    display: flex;
    font-size: 40px;
    padding: 20px 0px;
}
