.container1 {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    padding-top: 30px;
    justify-content: center;
    overflow: hidden;
}

.leg {
    display: flex;
    justify-content: flex-end;
    align-items: column;
    padding-top: 100px;
    position: relative;
}

.leg-image {
    position: absolute;
}

.container2 {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.title {
    display: flex;
    font-size: 40px;
    padding: 20px 0px;
}

.exercise {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    padding-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove the spin buttons */
    margin: 0; /* Prevent unwanted margin */
}

.change-amount {
    font-size: 28px;
    height: 30px;
    width: 150px;
}

.submit-container {
    padding: 30px;
}

.submit {
    padding: 10px;
    height: 50px;
    font-size: 28px;
}
